### DB INSERT_five_year_stocks_df

In [1]:
import pandas as pd
import pymysql

In [2]:
conn = pymysql.connect(host='127.0.0.1'
                , port=3306
                , user = 'root'
                , password='root1234'
                , db = 'stock_pj'
                , charset='utf8'
                )

In [3]:
cur = conn.cursor()
cur.execute('SHOW TABLES') # 연동 확인
cur.fetchall() # 테이블 이름 확인

(('agency_stock',),
 ('singer_agency',),
 ('top_rank_2018',),
 ('top_rank_2019',),
 ('yearly_album_chart',))

In [4]:
five_year_stocks_df = pd.read_csv('data/five_year_stocks_df.csv')
five_year_stocks_df.head()

  agency_name        date  stock_price
0         JYP  2018-01-02        13350
1         JYP  2018-01-03        13150
2         JYP  2018-01-04        12800
3         JYP  2018-01-05        13350
4         JYP  2018-01-08        12900

In [6]:
# insert stock table
for i in range(len(five_year_stocks_df)):
    cur.execute(f"INSERT INTO agency_stock (agency_name, date, stock_price) VALUES \
                ('{five_year_stocks_df['agency_name'][i]}', '{five_year_stocks_df['date'][i]}', {five_year_stocks_df['stock_price'][i]});")

In [7]:
# db 반영
conn.commit()

In [8]:
conn.close()